# build outputs
x64/
eboot.bin
pkg.gp4
*.pkg
*.bak
sce_sys/param.sfo
sce_sys/icon0.png
/icon0.png
probe/eboot.bin
probe/pkg.gp4
probe/sce_sys/param.sfo
probe/sce_sys/icon0.png
# Sony modules, copied from the OpenOrbis SDK at build time
sce_module/
sce_sys/about/
probe/sce_module/
probe/sce_sys/about/
